
@{
    ViewData["Title"] = "Successful";
}
<br />
<br />
<div class="site-section" style="text-align:center !important">
    <div class="container">
        <div class="col-md-6">Thanh toán thành công</div>
        <button asp-area="Customer" asp-controller="Home" asp-action="Index" class="col-md-6 btn btn-primary">Đọc sách thôi</button>
    </div>
</div>

