@model ThuVienDienTu.Models.ViewModels.BooksViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="width:100%">
    @foreach (var book in Model.Books)
    {

        <div class="col-2 item-card">
            <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@book.Id">
                <img src="@book.BookImage" style="position:center;width:180px;height:200px;display:block" />
                <p class="item-label">@book.BookName</p>
            </a>
        </div>
    }
</div>
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn border" page-class-normal="btn btn-default active"
     page-class-selected="btn btn-primary active" class="btn-group m-1"></div>
