
@{
    ViewData["Title"] = "Error";
    Layout = "~/Areas/Admin/Views/CMS/_CMS.cshtml";
}

<div style="text-align:center">
    <p class="text-warning">Bạn đã gặp lỗi vui lòng liên hệ lập trình viên.</p>
</div>

