@model ThuVienDienTu.Models.ReadingList

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Bạn có chắc chắn xóa?</h3>
<div>
    <h4>ReadingList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadingListName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadingListName)
        </dd>
        <dt class="col-sm-2">
            Sách trong danh sách đọc:
        </dt>
        <dd class="col-sm-10">
            @foreach(var book in Model.BookInLists)
            {
                <a asp-area="Customer" asp-controller="Read" asp-action="Index" asp-route-id="@book.BookId">@book.Book.BookName</a>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
