@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav float-lg-right" style="margin-right: 30px">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="nav-link dropdown">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="height:40px">@await Component.InvokeAsync("Username")</a>
                <div class="dropdown-content">
                    @if (User.IsInRole("DOCGIA"))
                    {
                        <div style="text-align:center;border-radius:10px" class="dropdown-item">
                            <label style="border-radius:10px;padding-top:15px">@await Component.InvokeAsync("Credit") </label>
                            <a style="border-radius:10px" asp-area="Customer" asp-controller="Topup" asp-action="Index">Nạp thêm</a>
                        </div>
                        <a class="dropdown-item" style="border-radius:10px" asp-area="Customer" asp-controller="Books" asp-action="Index">Sách của tôi</a>
                        <a class="dropdown-item" style="border-radius:10px" asp-area="Customer" asp-controller="ReadingLists" asp-action="Index">Danh sách đọc của tôi</a>
                    }
                    <a class="dropdown-item" style="border-radius:10px" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Đăng xuất</a>

                    @*<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="btn-link dropdown-item" style="border-radius:10px;text-align:center">Đăng xuất</button>
                        </form>*@
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <div class="nav-link dropdown">
                <a class="dropbtn nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="far fa-user"></i> Đăng nhập</a>
                <div class="dropdown-content">
                    <a class="dropdown-item" style="border-radius:10px" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
                    <a class="dropdown-item" style="border-radius:10px" asp-area="Identity" asp-page="/Account/Register">Đăng kí</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#myModal" style="border-radius:10px">Đăng kí nhanh</a>
                </div>
                <form asp-action="CreateAccount" asp-controller="AccountBuilder" asp-area="Identity">
                    <div class="container">
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Đăng ký nhanh tài khoản</h5>
                                        <button type="button" class="close float-right" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>amen</p>
                                        <input id="confirmPolicy" type="checkbox" onchange="EnableRegister()" /> <span>Tôi đã đọc và xác nhận tuân theo điều khoản</span>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="registerButton" type="submit" class="btn btn-primary align-self-center" disabled>Đăng ký</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </li>

    }
</ul>
<script>
    function EnableRegister() {
        var checkbox = document.getElementById("confirmPolicy").checked;
        if (checkbox == true) {
            document.getElementById("registerButton").disabled = false;
        }
        else {
            document.getElementById("registerButton").disabled = true;
        }
    }
</script>