@model ThuVienDienTu.Models.ApplicationUser
<body>
    <br />
    <br />
    <br />
    <br />
    <h1 class="text-info" style="text-align:center;color:grey;margin-top:40px;font-family:Bahnschrift;font-size:30px">Đăng ký nhanh</h1>
    <div class="site-section bg-light" style="text-align:center !important">
        <h5>
                Đăng ký nhanh tài khoản thành công
        </h5>
        <p>
                Tài khoản: @Model.Email
        </p>
        <p>
                Mật khẩu: @Model.Address
        </p>
    </div>
</body>
