@model ThuVienDienTu.Models.ApplicationUser
<br />
<br />
<div class="site-section bg-light" style="text-align:center">
    <div class="row">
        <div class="col-6">
            Đăng ký nhanh tài khoản thành công
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Tài khoản: @Model.Email
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Mật khẩu: @Model.Address
        </div>
    </div>
</div>